h1{
    margin-left: 40%;
}
h2{
    margin-left: 20%;
}

.button{
    height: 200px;
    width: 200px;
    margin-left: 100px;
    border: 2px solid black;
}
.main{
    display: flex;
}
#grey{
    background-color: grey;

}
#white{
    background-color: white;
}
#blue{
    background-color: blue;
}

#yellow{
    background-color: yellow;
}